/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.docker/dbdata/auto.cnf
.docker/dbdata/ca-key.pem
.docker/dbdata/ca.pem
.docker/dbdata/client-cert.pem
.docker/dbdata/client-key.pem
.docker/dbdata/ib_buffer_pool
.docker/dbdata/ib_logfile0
.docker/dbdata/ibdata1
.docker/dbdata/private_key.pem
.docker/dbdata/public_key.pem
.docker/dbdata/server-cert.pem
.docker/dbdata/server-key.pem
.docker/dbdata/laravel/failed_jobs.frm
.docker/dbdata/laravel/failed_jobs.ibd
.docker/dbdata/laravel/migrations.frm
.docker/dbdata/laravel/migrations.ibd
.docker/dbdata/laravel/password_resets.frm
.docker/dbdata/laravel/password_resets.ibd
.docker/dbdata/laravel/users.frm
.docker/dbdata/laravel/users.ibd
.docker/dbdata/mysql/columns_priv.MYI
.docker/dbdata/mysql/db.MYI
.docker/dbdata/mysql/engine_cost.ibd
.docker/dbdata/mysql/event.MYI
.docker/dbdata/mysql/func.MYI
.docker/dbdata/mysql/innodb_index_stats.ibd
.docker/dbdata/mysql/innodb_table_stats.ibd
.docker/dbdata/mysql/ndb_binlog_index.MYI
.docker/dbdata/mysql/proc.MYD
.docker/dbdata/mysql/proc.MYI
.docker/dbdata/mysql/procs_priv.MYI
.docker/dbdata/mysql/proxies_priv.MYI
.docker/dbdata/mysql/server_cost.ibd
.docker/dbdata/mysql/tables_priv.MYD
.docker/dbdata/mysql/tables_priv.MYI
.docker/dbdata/mysql/time_zone_transition.ibd
.docker/dbdata/mysql/user.MYD
.docker/dbdata/mysql/user.MYI
.docker/dbdata/sys/host_summary_by_file_io_type.frm
.docker/dbdata/sys/host_summary_by_file_io.frm
.docker/dbdata/sys/host_summary_by_stages.frm
.docker/dbdata/sys/host_summary_by_statement_latency.frm
.docker/dbdata/sys/host_summary_by_statement_type.frm
.docker/dbdata/sys/host_summary.frm
.docker/dbdata/sys/innodb_buffer_stats_by_schema.frm
.docker/dbdata/sys/innodb_buffer_stats_by_table.frm
.docker/dbdata/sys/innodb_lock_waits.frm
.docker/dbdata/sys/io_by_thread_by_latency.frm
.docker/dbdata/sys/io_global_by_file_by_bytes.frm
.docker/dbdata/sys/io_global_by_file_by_latency.frm
.docker/dbdata/sys/io_global_by_wait_by_bytes.frm
.docker/dbdata/sys/io_global_by_wait_by_latency.frm
.docker/dbdata/sys/latest_file_io.frm
.docker/dbdata/sys/memory_by_host_by_current_bytes.frm
.docker/dbdata/sys/memory_by_thread_by_current_bytes.frm
.docker/dbdata/sys/memory_by_user_by_current_bytes.frm
.docker/dbdata/sys/memory_global_by_current_bytes.frm
.docker/dbdata/sys/memory_global_total.frm
.docker/dbdata/sys/metrics.frm
.docker/dbdata/sys/processlist.frm
.docker/dbdata/sys/ps_check_lost_instrumentation.frm
.docker/dbdata/sys/schema_auto_increment_columns.frm
.docker/dbdata/sys/schema_index_statistics.frm
.docker/dbdata/sys/schema_object_overview.frm
.docker/dbdata/sys/schema_redundant_indexes.frm
.docker/dbdata/sys/schema_table_lock_waits.frm
.docker/dbdata/sys/schema_table_statistics_with_buffer.frm
.docker/dbdata/sys/schema_table_statistics.frm
.docker/dbdata/sys/schema_tables_with_full_table_scans.frm
.docker/dbdata/sys/schema_unused_indexes.frm
.docker/dbdata/sys/session_ssl_status.frm
.docker/dbdata/sys/session.frm
.docker/dbdata/sys/statement_analysis.frm
.docker/dbdata/sys/statements_with_errors_or_warnings.frm
.docker/dbdata/sys/statements_with_full_table_scans.frm
.docker/dbdata/sys/statements_with_runtimes_in_95th_percentile.frm
.docker/dbdata/sys/statements_with_sorting.frm
.docker/dbdata/sys/statements_with_temp_tables.frm
.docker/dbdata/sys/sys_config.ibd
.docker/dbdata/sys/sys_config.TRG
.docker/dbdata/sys/user_summary_by_file_io_type.frm
.docker/dbdata/sys/user_summary_by_file_io.frm
.docker/dbdata/sys/user_summary_by_stages.frm
.docker/dbdata/sys/user_summary_by_statement_latency.frm
.docker/dbdata/sys/user_summary_by_statement_type.frm
.docker/dbdata/sys/user_summary.frm
.docker/dbdata/sys/version.frm
.docker/dbdata/sys/wait_classes_global_by_avg_latency.frm
.docker/dbdata/sys/wait_classes_global_by_latency.frm
.docker/dbdata/sys/waits_by_host_by_latency.frm
.docker/dbdata/sys/waits_by_user_by_latency.frm
.docker/dbdata/sys/waits_global_by_latency.frm
.docker/dbdata/sys/x@0024host_summary_by_file_io_type.frm
.docker/dbdata/sys/x@0024host_summary_by_file_io.frm
.docker/dbdata/sys/x@0024host_summary_by_stages.frm
.docker/dbdata/sys/x@0024host_summary_by_statement_latency.frm
.docker/dbdata/sys/x@0024host_summary_by_statement_type.frm
.docker/dbdata/sys/x@0024host_summary.frm
.docker/dbdata/sys/x@0024innodb_buffer_stats_by_schema.frm
.docker/dbdata/sys/x@0024innodb_buffer_stats_by_table.frm
.docker/dbdata/sys/x@0024innodb_lock_waits.frm
.docker/dbdata/sys/x@0024io_by_thread_by_latency.frm
.docker/dbdata/sys/x@0024io_global_by_file_by_bytes.frm
.docker/dbdata/sys/x@0024io_global_by_file_by_latency.frm
.docker/dbdata/sys/x@0024io_global_by_wait_by_bytes.frm
.docker/dbdata/sys/x@0024io_global_by_wait_by_latency.frm
.docker/dbdata/sys/x@0024latest_file_io.frm
.docker/dbdata/sys/x@0024memory_by_host_by_current_bytes.frm
.docker/dbdata/sys/x@0024memory_by_thread_by_current_bytes.frm
.docker/dbdata/sys/x@0024memory_by_user_by_current_bytes.frm
.docker/dbdata/sys/x@0024memory_global_by_current_bytes.frm
.docker/dbdata/sys/x@0024memory_global_total.frm
.docker/dbdata/sys/x@0024processlist.frm
.docker/dbdata/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
.docker/dbdata/sys/x@0024ps_digest_avg_latency_distribution.frm
.docker/dbdata/sys/x@0024ps_schema_table_statistics_io.frm
.docker/dbdata/sys/x@0024schema_flattened_keys.frm
.docker/dbdata/sys/x@0024schema_index_statistics.frm
.docker/dbdata/sys/x@0024schema_table_lock_waits.frm
.docker/dbdata/sys/x@0024schema_table_statistics_with_buffer.frm
.docker/dbdata/sys/x@0024schema_table_statistics.frm
.docker/dbdata/sys/x@0024schema_tables_with_full_table_scans.frm
.docker/dbdata/sys/x@0024session.frm
.docker/dbdata/sys/x@0024statement_analysis.frm
.docker/dbdata/sys/x@0024statements_with_errors_or_warnings.frm
.docker/dbdata/sys/x@0024statements_with_full_table_scans.frm
.docker/dbdata/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
.docker/dbdata/sys/x@0024statements_with_sorting.frm
.docker/dbdata/sys/x@0024statements_with_temp_tables.frm
.docker/dbdata/sys/x@0024user_summary_by_file_io_type.frm
.docker/dbdata/sys/x@0024user_summary_by_file_io.frm
.docker/dbdata/sys/x@0024user_summary_by_stages.frm
.docker/dbdata/sys/x@0024user_summary_by_statement_latency.frm
.docker/dbdata/sys/x@0024user_summary_by_statement_type.frm
.docker/dbdata/sys/x@0024user_summary.frm
.docker/dbdata/sys/x@0024wait_classes_global_by_avg_latency.frm
.docker/dbdata/sys/x@0024wait_classes_global_by_latency.frm
.docker/dbdata/sys/x@0024waits_by_host_by_latency.frm
.docker/dbdata/sys/x@0024waits_by_user_by_latency.frm
.docker/dbdata/sys/x@0024waits_global_by_latency.frm
vendor/autoload.php
vendor/composer/autoload_files.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/LICENSE
